html,body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#selector {
    display: inline-block;

    width: 70%;
    height: 99%;
}
#selector canvas {
    border-right: 1px solid black;
}

.controls {

}
