<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="Electron/js/StackBlur.js"></script>

    <style>
        html, body {
            margin: 0;
        }
    </style>
</head>

<body> <!-- Body -->

<!-- <canvas id="can"></canvas> -->

<script>
    var id = 0;

    var pageH = 2480;
    var pageW = 3508;

    var offset = 50;

    var lastY = offset;
    var lastX = offset;

    var blurRadius = 1.0;

    var cnv;
    var ctx;
    window.onload = function () {
        images = JSON.parse(images);
        new_canvas();

        for (id=0; id<images.length; id++) {
            var w = cnv.width/2 - offset;
            var h = (images[id].point[1].y-images[id].point[0].y) * w / (images[id].point[1].x-images[id].point[0].x);

            // Paper Economy
            if (h >= 140 && h < 200) {
                h = 140;
            } else if (h > 200 && h < 300) {
                h = h*0.9;
            } else if (h > 300 && h < 400) {
                h = h*0.8;
            } else if (h > 400 && h <= 500) {
                h = h*0.65;
            } else if (h > 500) {
                h = h*0.75;
            }

            // Switch Column
            if ((lastY+h+offset) > cnv.height) {
                lastY = offset;
                lastX += cnv.width/2-offset;
            }

            // Switch Page
            if (lastX+offset >= cnv.width) {
                stackBlurCanvasRGB( ctx, 0, 0, cnv.width, cnv.height, blurRadius);
                new_canvas();
            }

            ctx.drawImage(
                document.getElementById("i_"+id),
                images[id].point[0].x,images[id].point[0].y,
                images[id].point[1].x-images[id].point[0].x,
                images[id].point[1].y-images[id].point[0].y,
                lastX,lastY,w,h
            );
            lastY += h;

            console.log((id+1)+" "+h);
        }

        stackBlurCanvasRGBA( ctx, 0, 0, cnv.width, cnv.height, blurRadius);
    }

    function new_canvas () {
        cnv = document.createElement("canvas");
            cnv.width = pageW;
            cnv.height = pageH;
        ctx = cnv.getContext("2d");

        ctx.fillStyle = "#fff";
        ctx.fillRect(0,0,cnv.width,cnv.height);

        lastY = offset;
        lastX = offset;

        document.body.appendChild(cnv);
    }
</script>
